/* generales */
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #000;
    margin-top: 0;
}

/* header */
header {
    padding: 0;
    margin-top: 0;
    min-height: 100vh;
    background-image: url('../img/bg-header.jpg');
    background-position:0rem 2rem;
    background-size: cover;
}

h1 {
    margin-top: 0;
    text-align: center;
    padding: 1vh;
    background-color: #000;
    font-size: 2.5rem;
    font-weight:500;

}

/* desc-section */
.desc-section {
    width: 80%; /* Mejorado por el profe */
    margin: 0 auto;
    padding: 2rem 0;
    /* padding: 5rem; */
}

.desc-wrapper {
    width: 46%;
    padding: 1rem 0;
    /* margin-left: 8%; */
    /* margin-right: 8%; */
}

.img-wrapper {
    width: 43%;
    padding-left: 5rem;
    text-align: right;
}

.desc-wrapper, .desc-section .img-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.img-wrapper img {
    max-width: 25vw;
    width: 100%;
}


/* sección de características */
.icons-section {
    background-color: #1e1a13;
    padding: 3rem 15%;
    text-align: center;
}
.feature {
    display: inline-block;
    min-width: 30%;
    text-align: center;
    font-size: 1.5rem;
}

.icons-section h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
}

.container_iguana{
    padding: 3rem 0;
    text-align: center;
}
.imagen_iguana{
    display:inline-block;
    height: 12rem;
    width: 18rem;
    margin-left: 2rem;
    overflow:hidden;
}

.imagen_iguana img {
    height: 100%;
}

.imagen_iguana:nth-child(1) img {
    object-position: -1.5rem;
}

.footer {
    background-color: #1e1a13;
    padding: 2.5rem 0rem;
}
a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
}
